
nbproject/private/private.properties
build/classes/tp5/PruebaArreglo.class
build/classes/tp5/Arreglo.class
build/classes/.netbeans_update_resources
build/classes/.netbeans_automatic_build
nbproject/private/private.xml
